body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #f8f9fa;
  padding: 20px;
  text-align: center;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
}

.header-content h1 {
  margin: 0;
  padding: 0 10px;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: #333;
  font-size: 1.5em;
  text-decoration: none;
}

.social-icons a:hover {
  color: #0073b1; /* LinkedIn blue for LinkedIn */
}

.social-icons a .fab.fa-github:hover {
  color: #333; /* GitHub black */
}

.social-icons a .fas.fa-envelope:hover {
  color: #c71610; /* Email red */
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin-right: 10px;
}

nav ul li a {
  text-decoration: none;
  color: #007bff;
}

nav ul li a:hover {
  text-decoration: underline;
}

main {
  padding: 20px;
  margin-left: 4cm;
  margin-right: 4cm;
}

footer {
  background-color: #f8f9fa;
  padding: 10px;
  text-align: center;
}


