<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ page.title }} - {{ site.title }}</title>
  <link rel="stylesheet" href="{{ '/assets/main.css' | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body class="dark-mode">
  <header>
    <div class="header-content">
      <div class="social-icons">
        <a href="https://www.linkedin.com/in/carlos-a-duran-villalobos/" target="_blank"><i class="fab fa-linkedin"></i></a>
        <a href="https://github.com/CarlosADuranVillalobos" target="_blank"><i class="fab fa-github"></i></a>
        <a href="mailto:duranvillalobos.carlos@gmail.com"><i class="fas fa-envelope"></i></a>
      </div>
      <h1>{{ site.title }}</h1>
      <button id="theme-toggle" onclick="toggleTheme()"><i class="fas fa-adjust"></i></button>
      <!-- <p>{{ site.description }}</p> -->
    </div>
    <nav>
      <ul>
        {% for item in site.nav %}
          <li>
            <a href="{{ item.url | relative_url }}" class="{% if page.url == item.url or page.url == item.url | append: '/' %}active{% endif %}">{{ item.title }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav>
  </header>
  <main>
    {{ content }}
  </main>
  <footer>
    <p>&copy; {{ site.time | date: '%Y' }} {{ site.title }}. All rights reserved.</p>
  </footer>
  <script>
    function toggleTheme() {
      const body = document.body;
      const themeToggle = document.getElementById('theme-toggle');
      body.classList.toggle('dark-mode');
      body.classList.toggle('light-mode');
      if (body.classList.contains('dark-mode')) {
        themeToggle.innerHTML = '<i class="fas fa-adjust"></i>';
      } else {
        themeToggle.innerHTML = '<i class="fas fa-adjust"></i>';
      }
    }

    document.addEventListener('DOMContentLoaded', (event) => {
      const themeToggle = document.getElementById('theme-toggle');
      if (document.body.classList.contains('dark-mode')) {
        themeToggle.innerHTML = '<i class="fas fa-adjust"></i>';
      } else {
        themeToggle.innerHTML = '<i class="fas fa-adjust"></i>';
      }
    });
  </script>
</body>
</html>

